<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    <h1>Pokemon List</h1> 
    <ul>
        <% for( let index = 0; index < allPokemon.length; index++ ) { %>
        <li>
            <a href="/pokemon/<%= allPokemon[index].id %> ">
                <img src="<%= allPokemon[index].img %>" alt="Picture of <%= allPokemon[index].name %>" width="20px" height="20px">
                <%= allPokemon[index].name %>
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>